body {
    font-size:16px;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#1bafdb;
    font-family: Arial;
}
.startButtons {
    border:none;
    appearance:none;
    outline:none;
    display:inline-block;
    font-size:1.5em;
    cursor:pointer;
    text-decoration:none;
    padding:12px 48px 12px 48px;
    border-radius:4px;
    color:#ffffff;
    background-color:#1bafdb;
    border: 2px solid #ffffff;

}
#startButton
{
  margin-bottom: 10px;
}
#settingsbox{  
  font-size:1.5em; 
  text-decoration:none;
  color:#ffffff;
  padding-bottom: 30px;
}
#or{
  font-size:1.5em; 
  text-decoration:none;
  color:#ffffff;
  padding-bottom: 15px;
}
option:focus {
    border: none;
    }
 
.form option{
    background: #1bafdb; 
    border: none;
    color: #eee;
    }
input::placeholder {
    color: #eee;
}

.form select{
    background: #1bafdb;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    color: #eee;
    border: 2px solid #ffffff;
    border-radius:4px;
    outline: none;

    padding: 5px;
    margin-bottom: 15px;
    margin-right: 10px; 
}
.form input{
    background: #1bafdb;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    color: #eee;
    border: 2px solid #ffffff;
    border-radius:4px;
    outline: none;

    padding: 5px;
    margin-bottom: 15px;
    margin-right: 10px; 
}

.form {
    position: fixed;
    background: #1bafdb;
    max-width: 200px;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: center;
    
}
#form3{
  right: 20px;
  bottom: -50px;
}
#form2{
  left: 25px;
  top: 20px;
}
#form1{
  right: 20px;
  top: 20px;
}
.container {

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		transform-origin: center;
		height: 125px;
		width: 80px;
        
}
#presets{
  font-size:1.5em; 
  text-decoration:none;
  color:#ffffff;
  padding-bottom: 15px;
  position: fixed;     
  top:54%;     
  left:6.5%;     
  margin-top: -100px;     
  margin-right: -100px;   
}
#preset1{
    position: fixed;     
    top:60%;     
    left:5.5%;     
    margin-top: -100px;     
    margin-right: -100px;   
}
.price {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 15px;
}
.name{
    font-size: 10px;
    font-weight: 400;
    padding-top: 20px;
}
.scoreboard{
  position: fixed;
  top: 0px;
  left: 0px;
  display:table;
  text-align: center;
  border-collapse: separate;
  border-spacing: 30px;
}

.scoreboard span{
  font-size: 14px;
  height: 100px;
  width: 100px;
  border-radius: 0%;
  display: inline-block;
  margin-left: 20px;  
  display:table-cell;
  vertical-align:middle;
 
 }
 .scoreboard span.active {
   transform:scale(1.25);
 }


#backButton {
    position: fixed;     
    bottom:10%;     
    left:5%;     
    margin-top: -100px;     
    margin-right: -100px;    
}
#rollButton {
  position: fixed;     
  bottom:10%;     
  right:15%;     
  margin-top: -100px;     
  margin-right: -100px;    
}
#loadButton {
    position: fixed;     
    bottom:20%;     
    left:5%;        
    margin-top: -100px;    
    margin-right: -100px;     
}
button {   transition-duration: 0.4s; }
button:hover {
    font-size:1.6em;
    background-color:#05c46b;
}
#csv{
  position: fixed;
    background: #1bafdb;
    max-width: 200px;
    margin: 0 auto 0px;
    padding: 20px;
    text-align: center;
    bottom: 50px;
    right: 245px;
}
.screen {
    padding: 20px;     
    position: fixed;     
    top:50%;     
    left:50%;     
    margin-top: -100px;     
    margin-left: -100px;     
    height:200px;     
    width:250px;     
    text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;   
  
}
.plrbox{
  
}
#player1{
  background-color: red;
}
#player2{
  background-color: green;
}
#player3{
  background-color: yellow;
}
#playerscore1{
  background-color: red;
}
#playerscore2{
  background-color: green;
}
#playerscore3{
  background-color: yellow;
}
ul {
    position:fixed;
    top:5%;
    left: 31%;
    display: grid;
    
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 120px);
    justify-content: center;
    align-content: center;
    grid-gap: 1rem;
    min-height: 90vh;
    list-style: none;
    margin: 0 0 2vw;
    padding: 0;
    font-size: calc(2vw + 10px);
  }
    li {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 3px solid white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  li:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  li:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }
  li:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
  }
  li:nth-child(4) {
    grid-row: 1;
    grid-column: 4;
  }
  li:nth-child(5) {
    grid-row: 1;
    grid-column: 5;
  }
  li:nth-child(6) {
    grid-row: 2;
    grid-column: 5;
  }
  li:nth-child(7) {
    grid-row: 3;
    grid-column: 5;
  }
  li:nth-child(8) {
    grid-row: 4;
    grid-column: 5;
  }
  li:nth-child(9) {
    grid-row: 5;
    grid-column: 5;
  }
  li:nth-child(10) {
    grid-row: 5;
    grid-column: 4;
  }
  li:nth-child(11) {
    grid-row: 5;
    grid-column: 3;
  }
  li:nth-child(12) {
    grid-row: 5;
    grid-column: 2;
  }
  li:nth-child(13) {
    grid-row: 5;
    grid-column: 1;
  }
  li:nth-child(14) {
    grid-row: 4;
    grid-column: 1;
  }
  li:nth-child(15) {
    grid-row: 3;
    grid-column: 1;
  }
  li:nth-child(16) {
    grid-row: 2;
    grid-column: 1;
  }